{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class='content'>
    <div class="container">

        <div class="row pt-5">
            <div class="col-md-6 mt-5 offset-md-3 pt-5 mt-5">
                <div class="card">
                    <form method="POST">
                        {% csrf_token %}
                        {{form}}
                        <input type="Submit" name="Send Email">
                    </form></div></div></div>


</div>
</div>
{% endblock content %}