
<!-- Footer -->
<footer class="text-center text-lg-start  text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
    
      <!-- Left -->
  
      <!-- Right -->

      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
             <img src='../../static/assets/img/logo tesis.svg' width="8%"/> 
                Tech Service Help
            </h6>
            <p>
           <small>Sitio Web de uso exclusivo de la Universidad Nacional Experimental Romulo Gallegos, con el fin de solventar y Registrar de manera eficaz las necesidades de los equipos de computo de las diferentes areas administrativas y estudiantiles de la casa de estudio</small> 
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
             ¿Qué Ofrecemos?
            </h6>
            <p>
              <a href="#!" class="text-reset"> <small>Atención</small></a>
            </p>
            <p>
              <a href="#!" class="text-reset"><small>Contacto directo</small></a>
            </p>
            <p>
              <a href="#!" class="text-reset"><small>Seguimiento</small></a>
            </p>
            <p>
              <a href="#!" class="text-reset"><small>Registro</small></a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset"><small>Pricing</small></a>
            </p>
            <p>
              <a href="#!" class="text-reset"><small>Settings</small></a>
            </p>
            <p>
              <a href="#!" class="text-reset"><small>Orders</small></a>
            </p>
            <p>
              <a href="#!" class="text-reset"><small>Help</small></a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">¡Contáctanos!</h6>
            <p><small><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</small></p>
            <p>
              <small><i class="fas fa-envelope me-3 text-secondary"></i>
                info@example.com</small>
            </p>
            <p><small><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</small></p>
            <p><small><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</small></p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
 Universidad Nacional de los LLanos Centrales Rómulo Gallegos ●
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Caminos y Horizontes</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->