    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-absolute my-navbar-transparent mb-4 mw-100" id="navbar">
        <div class="container-fluid overflow-hidden mt-3">
            <div class="navbar-wrapper">
                <div class="navbar-toggle d-inline">
                    <!--<button type="button" class="navbar-toggler">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>-->
                </div>
            
                <a class="navbar-brand" href="/">
                    <a class="navbar-brand" href=""> <img src='../../static/assets/img/logo tesis.svg' width="5.5%"/> 
                    Tech Service Help
                </a>
            </div>
         
           <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>-->
            <!--<div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav ml-auto">            

                    <li class="input-group d-flex align-items-center mb-0">
                        <label class="switch theme-switch">
                            <input type="checkbox" class="bsc" checked="">
                            <span class="slider"></span>
                        </label>
                    </li>
                    <li class="separator d-lg-none"></li>
                </ul>
            </div> -->
         
        </div>
    </nav>
    <!-- End Navbar -->
    