        <!-- Navbar -->
   
                            <ul class="dropdown-menu dropdown-menu-right dropdown-navbar"  style="overflow-y:scroll; height:200px; background-color: white; border-radius: 10px;">
                              
                      
                                    {% for notification in notifications %}
                                    <div style='border: solid 1px; border-radius: 10px; margin:5px'>
                                    <li class="nav-link">  <a href="" class="nav-item dropdown-item"> {{notification}}  {{notification.description}}</a>  </li>
                                </div>
                                     {% endfor %}
                               
                          <!--      <li class="nav-link"><a href="#" class="nav-item dropdown-item">Mike John responded to
                                    your email</a></li>
                                <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">You
                                    have 5 more tasks</a></li>
                                <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Your
                                    friend Michael is in town</a></li>
                                <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another
                                    notification</a></li>
                                <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another
                                    one</a></li>-->
                            </ul>
                    
    