
 {% load home_extras %}
 {% if request.user.is_superuser %}
   <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    <i class="tim-icons icon-atom"></i>
                </a>
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    Menú
                </a>
            </div>
            <ul class="nav">
                <li class="{% if 'index' in segment %} active {% endif %} ">
                    <a href="/">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>Inicio</p>
                    </a>
                </li>
            <!--    <li class="{% if 'icons' in segment %} active {% endif %}">
                    <a href="/icons.html">
                        <i class="tim-icons icon-atom"></i>
                        <p>Icons</p>
                    </a>
                </li>-->
                <li class="{% if 'map' in segment %} active {% endif %}">
                    <a href="{% url 'statistics'  %}">
                        <i class="tim-icons icon-pin"></i>
                        <p>Estadisticas</p>
                    </a>
                </li>
                <li class="{% if 'notifications' in segment %} active {% endif %}">
                    <a href="{% url 'notifcations'  %}">
                        <i class="tim-icons icon-bell-55"></i>
                        <p>Notifications</p>
                    </a>
                </li>
                <li class="{% if 'user' in segment %} active {% endif %}">
                    <a href="{% url 'profile_settings'  %}">
                        <i class="tim-icons icon-single-02"></i>
                        <p>Tu Perfil</p>
                    </a>
                </li>
                <li class="{% if 'tables' in segment %} active {% endif %}">
                    <a href="{% url 'view_tables' %}">
                        <i class="tim-icons icon-puzzle-10"></i>
                        <p>Listas de Ordenes</p>
                    </a>
                </li>
               <!--   <li class="{% if 'typography' in segment %} active {% endif %}">
                    <a href="/typography.html">
                        <i class="tim-icons icon-align-center"></i>
                        <p>Typography</p>
                    </a>
                </li>-->
                <li>
                     <!--    <a href="/rtl.html">
                        <i class="tim-icons icon-world"></i>
                        <p>RTL Support</p>
                    </a>
                </li>-->
                <li>
                    <a href="{% url 'login' %}">
                        <i class="tim-icons icon-button-power"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {% elif request.user|has_group:"myUser" %}


    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    <i class="tim-icons icon-atom"></i>
                </a>
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    Menú
                </a>
            </div>
            <ul class="nav">
                <li class="{% if 'index' in segment %} active {% endif %} ">
                    <a href="/">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>Inicio</p>
                    </a>
                </li>

                <li class="{% if 'notifications' in segment %} active {% endif %}">
                    <a href="{% url 'notifcations'  %}">
                        <i class="tim-icons icon-bell-55"></i>
                        <p>Notifications</p>
                    </a>
                </li>
                <li class="{% if 'user' in segment %} active {% endif %}">
                    <a href="{% url 'profile_settings'  %}">
                        <i class="tim-icons icon-single-02"></i>
                        <p>Tu Perfil</p>
                    </a>
                </li>
                <li class="{% if 'tables' in segment %} active {% endif %}">
                    <a href="{% url 'view_tables' %}">
                        <i class="tim-icons icon-puzzle-10"></i>
                        <p>Listas de Ordenes</p>
                    </a>
                </li>
               <!--   <li class="{% if 'typography' in segment %} active {% endif %}">
                    <a href="/typography.html">
                        <i class="tim-icons icon-align-center"></i>
                        <p>Typography</p>
                    </a>
                </li>-->
                <li>
                     <!--    <a href="/rtl.html">
                        <i class="tim-icons icon-world"></i>
                        <p>RTL Support</p>
                    </a>
                </li>-->
                <li>
                    <a href="{% url 'login' %}">
                        <i class="tim-icons icon-button-power"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {% else %}
    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    <i class="tim-icons icon-atom"></i>
                </a>
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    Menú
                </a>
            </div>
            <ul class="nav">
                <li class="{% if 'index' in segment %} active {% endif %} ">
                    <a href="/">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>Inicio</p>
                    </a>
                </li>
            <!--    <li class="{% if 'icons' in segment %} active {% endif %}">
                    <a href="/icons.html">
                        <i class="tim-icons icon-atom"></i>
                        <p>Icons</p>
                    </a>
                </li>-->
                <li class="{% if 'map' in segment %} active {% endif %}">
                    <a href="{% url 'statistics'  %}">
                        <i class="tim-icons icon-pin"></i>
                        <p>Estadisticas</p>
                    </a>
                </li>
                <li class="{% if 'notifications' in segment %} active {% endif %}">
                    <a href="{% url 'notifcations'  %}">
                        <i class="tim-icons icon-bell-55"></i>
                        <p>Notifications</p>
                    </a>
                </li>
                <li class="{% if 'user' in segment %} active {% endif %}">
                    <a href="{% url 'profile_settings'  %}">
                        <i class="tim-icons icon-single-02"></i>
                        <p>Tu Perfil</p>
                    </a>
                </li>
                <li class="{% if 'tables' in segment %} active {% endif %}">
                    <a href="{% url 'view_tables' %}">
                        <i class="tim-icons icon-puzzle-10"></i>
                        <p>Listas de Ordenes</p>
                    </a>
                </li>
               <!--   <li class="{% if 'typography' in segment %} active {% endif %}">
                    <a href="/typography.html">
                        <i class="tim-icons icon-align-center"></i>
                        <p>Typography</p>
                    </a>
                </li>-->
                <li>
                     <!--    <a href="/rtl.html">
                        <i class="tim-icons icon-world"></i>
                        <p>RTL Support</p>
                    </a>
                </li>-->
                <li>
                    <a href="{% url 'login' %}">
                        <i class="tim-icons icon-button-power"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

<style>

    .sidebar{
        height: 50% !important;
    }
</style>
 {%  endif %}