{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
    .card {
    background-color: #192640 !important;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
}
</style>
{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="container">
            <div class="row pt-5">
                <div class="pt-5">
                    <div class="card" style="background-color:#152036 ">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="../../static/media/header1-MOVIL-1.jpg" style='object-fit: cover; height:100%; width:100%'/>
                            </div>
                            <div class="col-md-6">

                            


                  
                        
                        <div class="card-header text-center py-4">
                            <h4 class="title">
                                Inicia Sesión
                            </h4>

                            <h6 class="card-category">
                                {% if msg %}
                                  <span class="text-danger">{{ msg | safe }}</span>
                                {% else %}
                                <span>
                                  Agrega tus credenciales
                                </span>
                                {% endif %}  
                            </h6>
                        </div>

                        <form role="form" method="post" action="">
                                
                            {% csrf_token %}  

                            <div class="card-body px-5 py-3"> 

                                <div class="row">
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Nombre de Usuario</label>
                                            {{ form.username }}
                                        </div>
                                    </div>

                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Constraseña</label>
                                            {{ form.password }}
                                            <small><a href="{% url 'reset-password' %}" class="title">Olvidé mi Contraseña</a>   </small> 
                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                            
                            <div class="card-footer text-center">
                                <button type="submit" name="login" class="btn btn-fill ">Login</button>
                               
                                
                                <br /><br />

                                <p >
                                    <a href="{% url 'register' %}" class="title">Register</a>
                                                             
                                </p>
                            </div>

                        </form>
                    </div>
                    </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
