{% extends "layouts/base.html" %}

{% block title %} User Profile {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
   
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Edit Profile</h5>
          </div>
          <div class="card-body">
            
            <form action="" method="POST" role="form" enctype="multipart/form-data">
              {% csrf_token %}
              
              {{ form.errors }} 
              {{ form.non_field_errors }}
              {{ form.as_p }}
   
              <button type="submit" class="btn btn-fill btn-primary">Save</button>

            </form>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-user">
          <div class="card-body">
            <p class="card-text">
              <div class="author">
                <div class="block block-one"></div>
                <div class="block block-two"></div>
                <div class="block block-three"></div>
                <div class="block block-four"></div>
                <a href="javascript:void(0)">
                  <img class="avatar" src="{{request.user.profile_pic.url}}" alt="...">
                  <h5 class="title">{{request.user.first_name}} {{request.user.last_name}}</h5>
                </a>
                <div class="card-description" >
                  {{request.user.email}}
                  
                </div>
                {{request.user.bio}}
                <p class="description">
                 {{request.user.group}}
                </p>
              </div>
            </p>
            <div class="card-description" >
             
            </div>
            
          </div>
          <div class="card-footer">
            <div class="button-container">
              <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                <i class="fab fa-facebook"></i>
              </button>
              <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                <i class="fab fa-twitter"></i>
              </button>
              <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                <i class="fab fa-google-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
